/* =================== imported fonts =================== */

/* =================== global variables =================== */
:root {
	--primary-font-colour: #2D2E4A;
	--bright-green: #33D35E;
	--bright-blue: #2AB6D9;
	--gray-white: #F4F5F7; /* background */
	--off-white: #FAFAFA; /* background */
	--card-blurb-colour: #A2A2A4 ;
	--footer-colour: #2D314E;
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* =================== base page styles =================== */
body {
	font-family: 'Public Sans', sans-serif;
	color: var(--primary-font-colour);
	
	/* global padding */
	/* padding: 0 15px; */
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

/* =================== font styles =================== */
h1 {
	font-size: 36px;
	font-weight: 200;
}

h2 {
	font-size: 28px;
	font-weight: 200;

}

h3 {
	font-size: 18px;
	font-weight: 200;

}

p {
	font-size: 13px;
	line-height: 1.3rem;
}

button {
	font-size: 13px;
	color: white;

	/* bold */
	font-weight: 700;

	/* button size */
	width: 9.4375rem;
	height: 2.5625rem;

	border-radius: 1.2rem; 

	background-image: linear-gradient(to right, var(--bright-green), var(--bright-blue));

	border: none;
}

/* =================== primary media query =================== */

/* ---------- header section ---------- */
.header-section.grid {
	background-color: white;
	padding: 1.2rem 1.3rem;
}

#logo {
	grid-column: span 3;
}

/* ---------- image section ---------- */
.image-section {
	background-color: var(--off-white);

	background-image: url('./assets/bg-intro-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;

	/* hide content that goes out of bounds */
	overflow: hidden;
}

#mobile-phone-img {
	width: 100%;
	position: relative;
	bottom: 8rem;
}

/* ---------- hero section ---------- */
.hero-section {
	background-color: var(--off-white);
	padding: 1rem 1rem 5rem;
	text-align: center;
}

.hero-section h1 {
	margin-bottom: 1.4rem;
}

.hero-section p {
	margin-bottom: 2rem;
}

/* ---------- services section ---------- */
.services-section {
	background-color: var(--gray-white);
	padding: 3.8rem 1.5rem;
	text-align: center;
}

.services-section h2 {
	margin-bottom: 1.25rem;
}

#services-bio {
	margin-bottom: 3.5rem;
}

/* each card spans the whole width */
.services-cards .card {
	grid-column: span 4;
}

.card img, .card h3 {
	margin-bottom: 1.4rem;
}

.card img {
	width: 67px;
}

.card p {
	margin-bottom: 2.1rem;
}


/* ---------- latest articles section ---------- */
.articles-section {
	background-color: var(--off-white);
	padding: 5.5rem 1.4rem;
	text-align: center;
}

#articles-header {
	margin-bottom: 2.25rem;
}

.articles-cards.grid {
	gap: 25px;
}

.acard {
	grid-column: span 4;
	
	margin: 0 auto;

	background-color: white;

	/* size of the card */
	width: 291px;

	box-shadow: 5px 5px 9px var(--card-blurb-colour);

	/* rounded edges */
	border-radius: 8px 8px 8px 8px;
}

.acard img {
	width: 100%;
	height: 185px;

	border-radius: 8px 8px 0 0;
}

.acard-text {
	text-align: left;
	padding: 28px;
}

.acard-text-person {
	font-size: 9px;
	color: var(--card-blurb-colour);
	margin-bottom: 12px;
}

.acard-text-header {
	font-size: 14px;
	letter-spacing: .5%;
	line-height: 118%;
	margin-bottom: 12px;
}

.acard-text-blurb {
	font-size: 11px;
	color: var(--card-blurb-colour);
}

/* ---------- footer ---------- */
footer {
	background-color: var(--footer-colour);
	text-align: center;
	padding: 2rem 4rem;
	color: white;
}

footer * {
	margin: 0.5rem;
}

#footer-logo {
	display: none;
}

#footer-citation {
	color: var(--card-blurb-colour);
}
/* =================== media queries =================== */
/* ---------- tablets ---------- */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.header-section.grid {
		background-color: green;
	}

	/* ---------- services section ---------- */
	/* each card spans the 2 cols */
	.services-cards .card {
		grid-column: span 2;
	}
	
	/* ---------- latest articles section ---------- */
	.acard {
		grid-column: span 2;
	}
}