/* =================== imported fonts =================== */

/* =================== global variables =================== */
:root {
	--primary-font-colour: #2D2E4A;
	--bright-green: #33D35E;
	--bright-blue: #2AB6D9;
	--bright-green-hover: #84E1AA;
	--bright-blue-hover: #81D5DF;
	--gray-white: #F4F5F7; /* background */
	--off-white: #FAFAFA; /* background */
	--card-blurb-colour: #A2A2A4 ;
	--footer-colour: #2D314E;
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* =================== base page styles =================== */
body {
	font-family: 'Public Sans', sans-serif;
	color: var(--primary-font-colour);
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

/* =================== font styles =================== */
h1 {
	font-size: 36px;
	font-weight: 200;
}

h2 {
	font-size: 28px;
	font-weight: 200;

}

h3 {
	font-size: 18px;
	font-weight: 200;

}

p {
	font-size: 13px;
	line-height: 1.3rem;
}

button {
	font-size: 13px;
	color: white;

	/* bold */
	font-weight: 700;

	/* button size */
	width: 9.4375rem;
	height: 2.5625rem;

	border-radius: 1.2rem; 

	background-image: linear-gradient(to right, var(--bright-green), var(--bright-blue));

	border: none;
	
	cursor: pointer;

	transition: 3s;
}

button:hover {
	background-image: linear-gradient(to right, var(--bright-green-hover), var(--bright-blue-hover));
	transition: 3s;
}

/* =================== primary media query =================== */

/* ---------- header section ---------- */
.header-section.grid {
	background-color: white;
	padding: 1.2rem 1.3rem;
}

#logo {
	grid-column: span 3;
	margin: auto 0;
}

nav {
	display: none;
}

.header-section.grid button {
	display: none;
}

#hamburger-icon {
	grid-column: span 1;
	margin: auto 0 auto auto;
}

/* ---------- image section ---------- */
.image-section.grid {
	background-color: var(--off-white);
}

.image-collection {
	grid-row: 1;
	grid-column: span 4;

	background-image: url(./assets/bg-intro-mobile.svg);
	background-repeat: no-repeat;
	background-size: 100%;

	overflow: hidden;
}

#mobile-phone-img {
	width: 100%;
	margin: 0 auto;

	position: relative;
	bottom: 8rem;
}

/* ---------- hero section ---------- */
.hero-section {
	grid-row: 2;
	grid-column: span 4;

	text-align: center;

	padding: 0rem 2rem 5rem;
}

.hero-section h1 {
	max-width: 15ch;
	margin: 0 auto 1.4rem;
}

.hero-section p {
	max-width: 40ch;
	margin: 0 auto 2rem;
}

/* ---------- services section ---------- */
.services-section {
	background-color: var(--gray-white);
	padding: 3.8rem 1.5rem;
	text-align: center;
}

.services-section h2 {
	max-width: 15ch;
	margin: 0 auto 1.25rem;
}

#services-bio {
	max-width: 40ch;
	margin: 0 auto 3.5rem;
}

/* each card spans the whole width */
.services-cards .card {
	grid-column: span 4;
}

.card img, .card h3 {
	margin-bottom: 1.4rem;
}

.card img {
	width: 67px;
}

.card p {
	max-width: 35ch;
	margin: 0 auto 2.1rem;
}


/* ---------- latest articles section ---------- */
.articles-section {
	background-color: var(--off-white);
	padding: 5.5rem 1.4rem;
	text-align: center;
}

#articles-header {
	margin-bottom: 2.25rem;
}

.acard {
	grid-column: span 4;
	
	margin: 0 auto;

	background-color: white;

	/* size of the card */
	max-width: 291px;

	box-shadow: 5px 5px 9px var(--card-blurb-colour);
	transition: 0.3s;

	/* rounded edges */
	border-radius: 8px 8px 8px 8px;

	cursor: pointer;
}

.acard:hover {
	box-shadow: 8px 8px 9px var(--footer-colour);
	transition: 0.3s;
}

.acard img {
	width: 100%;
	height: 185px;

	border-radius: 8px 8px 0 0;
}

.acard-text {
	text-align: left;
	padding: 28px;
}

.acard-text-person {
	font-size: 9px;
	color: var(--card-blurb-colour);
	margin-bottom: 12px;
}

.acard-text-header {
	font-size: 14px;
	letter-spacing: .5%;
	line-height: 118%;
	margin-bottom: 12px;
}

.acard-text-blurb {
	font-size: 11px;
	color: var(--card-blurb-colour);
}

/* ---------- footer ---------- */
footer {
	background-color: var(--footer-colour);
	text-align: center;
	padding: 2rem 4rem;
	color: white;
}

footer * {
	margin: 0.4rem;
}

#footer-logo {
	display: none;
}

.social-icons {
	grid-row: 1;
	grid-column: span 4;
	text-align: center;
}

.social-icons img {
	cursor: pointer;
}

.footer-menu.grid {
	grid-row: 2;
	grid-column: span 4;
	text-align: center;
}

.footer-menu.grid p {
	grid-column: span 4;

	cursor: pointer;
	transition: 0.3s;
}

.footer-menu.grid p:hover {
	color: var(--card-blurb-colour);
	transition: 0.3s;
}

footer button {
	grid-row: 3;
	grid-column: span 4;
	margin: 2rem auto;
}

#footer-citation {
	grid-row: 4;
	grid-column: span 4;

	color: var(--card-blurb-colour);

	text-align: center;
}

/* =================== media queries =================== */
/* ---------- tablets ---------- */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	/* ---------- grids ---------- */
	/* each card spans the 2 cols */
	.services-cards .card {
		grid-column: span 2;
	}

	.acard {
		grid-column: span 2;
	}

	/* ---------- everything else ---------- */

	/* ---------- header section ---------- */
	.header-section.grid {
		padding: 1.2rem 2rem;
	}
	
	/* ---------- image section ---------- */
	#mobile-phone-img {
		bottom: 15rem;
	}

	/* ---------- hero section ---------- */
	.hero-section h1 {
		max-width: 30ch;
	}

	.hero-section p {
		max-width: 55ch;
	}

	/* ---------- services section ---------- */
	.services-section h2 {
		max-width: 30ch;
	}

	#services-bio {
		max-width: 50ch;
	}

	/* ---------- footer ---------- */
	.footer-menu.grid{
		padding: 0 5.75rem;
	}
}

/* ---------- desktop ---------- */
@media only screen and (min-width: 64.063em) { 

	/* ---------- grids ---------- */
	.hero-section {
		grid-row: 1;
		grid-column: span 2;
	}

	.image-collection {
		grid-row: 1;
		grid-column: span 2;

		background-image: url(./assets/bg-intro-desktop.svg);
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.services-cards .card {
		grid-column: span 1;
	}

	.acard {
		grid-column: span 1;
	}

	/* ---------- everything else ---------- */

	/* ---------- header section ---------- */
	#logo {
		grid-column: span 1;
	}

	nav {
		display: block;
		grid-column: span 2;
		margin: auto auto;
	}

	nav li {
		display: inline-block;
		font-size: 14px;
		color: #919095;
		
		margin: 0rem 1.5rem;
		cursor: pointer;
	}

	nav li:hover {
		border-bottom: 2px solid;
		border-image: linear-gradient(to right, var(--bright-green), var(--bright-blue)) 1;
	}
	
	.header-section.grid button {
		display: block;
		grid-column: span 1;
		margin: auto 0 auto auto;
	}

	#hamburger-icon {
		display: none;
	}
	
	/* ---------- image section ---------- */
	#mobile-phone-img {
		max-width: 90%;
		left: 8rem;
	}

	/* ---------- hero section ---------- */
	.hero-section {
		text-align: left;
		padding-top: 11rem;
		padding-left: 10rem;
	}

	.hero-section h1 {
		max-width: 15ch;
		margin: 0 0 1.4rem;
	}

	.hero-section p {
		max-width: 45ch;
		margin: 0 0 2rem;
	}

	/* ---------- services section ---------- */
	.services-section {
		text-align: left;
		padding: 6rem 10rem;
	}

	.services-section h2 {
		max-width: 20ch;
		margin: 0 0 1.25rem;
	}

	#services-bio {
		max-width: 60ch;
		margin: 0 0 3.5rem;
	}

	.card p {
		margin: 0;
	}

	/* ---------- article section ---------- */
	.articles-section {
		text-align: left;
		padding: 6rem 10rem;
	}

	/* ---------- footer section ---------- */
	footer {
		padding: 3rem 10rem;
	}

	footer * {
		margin: 0rem;
	}

	.social-icons {
		grid-row: 1;
		grid-column: span 1;
	}

	.social-icons img {
		margin: 0 0.5rem;
	}

	.footer-menu.grid {
		grid-row: 1;
		grid-column: span 2;

	}

	.footer-menu.grid p {
		grid-column: span 2;
		text-align: left;

	}

	footer button {
		grid-row: 1;
		grid-column: span 1;
	}

	#footer-citation {
		grid-row: 2;
		grid-column: 4/5;

		font-size: 9px;

	}
}